<div class="page page-core page-login" ng-style="mainStyle">

  <div class="text-center"><div ng-style="headerStyle">{{title}}</div></div>

  <div class="container w-420 p-15 mt-40 bg-white text-center" ng-style="borderStyle">

    <div>Log In</div>

    <form name="form" class="form-validation mt-20" novalidate>

	  <div ng-if="loginError != ''">
        <div class="alert alert-danger">{{loginError}}</div>
	  </div>
	  
      <div class="form-group">
        <input type="email" class="form-control underline-input p-15" name="email" placeholder="Email" ng-model="user.email" required>
		 <span ng-show="form.email.$error.required">Email required.</span>
      </div>

      <div class="form-group">
        <input type="password" placeholder="Password" class="form-control underline-input p-15" name="password" ng-model="user.password" required>
		<span ng-show="form.password.$error.required">Password required.</span>
	  </div>

	  
      <div class="form-group text-left mt-20">
        <button type="submit" class="btn btn-greensea b-0 br-2 mr-5" ng-click="login()" ng-disabled='form.$invalid'>Login</button>
		<!--	
        <label class="checkbox checkbox-custom checkbox-custom-sm inline-block">
          <input type="checkbox"><i></i> Remember me
        </label>
		
        <a ui-sref="core.forgotpass" class="pull-right mt-10">Forgot Password?</a>
		-->
      </div>
	
    </form>
	<!--
    <hr class="b-3x"/>
	
    <div class="bg-slategray lt wrap-reset mt-40">
      <p class="m-0">
				<a ui-sref="core.signup" class="text-uppercase">Create an account</a>
			</p>
    </div>
	-->
  </div>

</div>
