 <div class="tile-body" ng-controller="GaugeChartCtrl">
            <div class="row">
            	<div>sssss</div>
              <div class="col-md-3 text-center">
                <canvas gauge-chart
                        data="gaugeChart1.data"
                        options="gaugeChart1.options"
                        style="width: 220px; height: 110px; ">
                </canvas>
              </div>
            </div>
            <div>
            	{{gaugeChart1.data}} :: {{item.content}} 
            </div>
          </div>
 
 <!-- col -->
              <div class="col-md-3">

                <h4 class="custom-font"><strong>Donut12</strong> Chart12</h4>
                <div  morris-donut-chart
                      donut-data='donutData' style="height: 250px"></div>
              </div>
              <!-- /col -->
