<!--<div ng-controller="GaugeCtrl">:)</div>
<div class="row">

    <div class="col-md-3 text-center">
        <canvas gauge-chart
                data="item.content"
                options="item.options"
                style="width: 220px; height: 110px; ">
        </canvas>
    </div>

</div>-->

       
          <div class="tile-body" ng-controller="GaugeChartCtrl">
            <div class="row">
            	<div>sssss</div>
              <div class="col-md-3 text-center">
                <canvas gauge-chart
                        data="gaugeChart1.data"
                        options="gaugeChart1.options"
                        style="width: 220px; height: 110px; ">
                </canvas>
              </div>
            </div>
            <div>
            	{{gaugeChart1.data}} :: {{item.content}} 
            </div>
          </div>
 
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
