<div class="page page-dashboard" ng-style="contentStyle">

    <div class="pageheader">

        <h2>{{data.Object}}</h2>

        <div class="page-bar">

            <ul class="page-breadcrumb">
                <li>
                    <a>{{menu.page.name}}</a>
                </li>
                <li>
                    <a>{{menu.subpage.name}}</a>
                </li>
            </ul>

        </div>

    </div>

    <div>

        <div ng-repeat="item in data.ObjectData">

            <div class="row">
            <!--<div>-->
                <div ng-include="item.name"></div>
            </div>

        </div>

    </div>

</div>

<!--Cards-->
<script type="text/ng-template" id="cards">
    <section class="tile" style="height:350px !important" fullscreen="isFullscreen03">
        <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>{{item.object_name}}</strong></h1>
        </div>
        <div class="tile-body" align="center">

            <div ng-repeat="element in item.data">

                <!-- col -->
                <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                    <div class="card">
                        <div class="front bg-greensea">

                            <!-- row -->
                            <div class="row">
                                <!-- col -->
                                <div class="col-xs-4">
                                    <i class="fa fa-users fa-4x"></i>
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-xs-8">
                                    <p class="text-elg text-strong mb-0">{{element.number}}</p>
                                    <span>{{element.title}}</span>
                                </div>
                                <!-- /col -->
                            </div>
                            <!-- /row -->

                        </div>
                        <div class="back bg-greensea"></div>
                    </div>
                </div>
                <!-- /col -->

            </div>

        </div>
    </section>
</script>


<!-- Links --->
<script type="text/ng-template" id="links">
    <section class="tile" style="height:350px !important" fullscreen="isFullscreen03">
        <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>{{item.object_name}}</strong></h1>
        </div>
        <div class="tile-body" align="center">
            <div ng-repeat="element in item.data">
                <a href="{{element.link}}" class="link-effect link-effect-3">{{element.title}}</a>
            </div>
        </div>
    </section>
</script>


<!-- Gauge --->
<script type="text/ng-template" id="gauge">
    <section class="tile" style="height:350px !important" fullscreen="isFullscreen03">
        <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>{{item.object_name}}</strong></h1>
        </div>
        <div class="tile-body" align="center">
            <canvas gauge-chart style="height: 250px;" data="item.data.content" options="item.data.options"></canvas>
        </div>
    </section>
</script>


<!-- Map --->
<script type="text/ng-template" id="map">

    <section class="tile" style="height:350px !important" fullscreen="isFullscreen03">
        <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>{{item.object_name}} </strong></h1>
        </div>
        <div class="tile-body" >
            <vector-map style="height:280px !important" class="ui-map" options="item.data"></vector-map>
        </div>
    </section>


</script>


<!-- Donut Chart --->
<script type="text/ng-template" id="dount">
    <section class="tile" style="height:350px !important" fullscreen="isFullscreen03">
        <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>{{item.object_name}}</strong></h1>
        </div>
        <div class="tile-body">
            <div morris-donut-chart donut-data='item.data' style="height: 250px"></div>
        </div>
    </section>

</script>


<!-- Stacked Chart -->
<script type="text/ng-template" id="stacked">
    <section class="tile" style="height:350px !important" fullscreen="isFullscreen03">
        <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>{{item.object_name}} </strong></h1>
        </div>
        <div class="tile-body">
            <div class="tile-body">
                <flot dataset="item.dataset" options="item.option" height="250px"></flot>
            </div>
        </div>
    </section>
</script>


<!-- Order Chart -->
<script type="text/ng-template" id="ordered">
    <section class="tile" style="height:350px !important" fullscreen="isFullscreen03">
        <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>{{item.object_name}} </strong></h1>
        </div>
        <div class="tile-body">
            <flot dataset="item.dataset" options="item.option" height="250px"></flot>
        </div>
    </section>
</script>

<!-- Line Chart -->
<script type="text/ng-template" id="line">
    <section class="tile" style="height:350px !important" fullscreen="isFullscreen03">
        <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>{{item.object_name}} </strong></h1>
        </div>
        <div class="tile-body">
            <flot dataset="item.data.content" options="item.data.options" height="250px"></flot>
        </div>
    </section>
</script>

<!-- Easy Pie Chart -->
<script type="text/ng-template" id="easyPie">
    <section class="tile" style="height:350px !important" fullscreen="isFullscreen03">
        <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>{{item.object_name}} </strong></h1>
        </div>
        <div class="tile-body" align="center">
            <div easypiechart options="item.option" percent="item.percent" class="easypiechart"
                 style="width: 180px; height: 250px;">
                <span class="pie-percent custom-font" ng-bind="item.percent" style="line-height: 170px;"></span>
            </div>
        </div>
    </section>
</script>


<!-- Table -->

<script type="text/ng-template" id="table">

    <!-- tile -->
    <section class="tile" style="height:400px !important; overflow:scroll" fullscreen="isFullscreen01">
        <!-- tile body -->
        <div class="tile-body">

            <div class="form-group">
                <label for="filter" style="padding-top: 5px">Search:</label>
                <input id="filter" type="text" class="form-control input-sm w-sm mb-10 inline-block"/>
            </div>

            <table id="searchTextResults" ui-jq="footable" data-filter="#filter"
                   data-page-size="5" class="footable table table-custom">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Lastname</th>
                    <th data-hide="phone">Username</th>
                    <th data-hide='phone, tablet'>Phone</th>
                    <th data-hide='phone, tablet'>Email</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="user in item.users | filter:searchText" my-directive>
                    <td>{{user.name}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.email}}</td>
                </tr>
                </tbody>
                <tfoot class="hide-if-no-paging">
                <tr>
                    <td colspan="5" class="text-center">
                        <ul class="pagination"></ul>
                    </td>
                </tr>
                </tfoot>
            </table>

        </div>
        <!-- /tile body -->

    </section>
    <!-- /tile -->

</script> 

